html{font-size: 16px;}

body{
    font-family: 'poppins' , sans-serif;
    background-color: #f9f9f9;
    font-size: 1rem;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

ul{
    width: 100%;
    justify-content: space-between;
}

li{
    display:inline;
    margin-right: 10px;
    font-size: 16px;
}

#About{
    display: flex;
    justify-content: space-between; 
}

#About-Header{
    margin-left: 7%;
}

#About img{
    max-width: 300px;
}

#Justin{
    width: 40%;
    height: 40%; /* Fixed height */
    margin-left: auto;
    
}

#Projects{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#Projects li{
  display: block;
  list-style:inside;
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px;
}

#Projects-header{
    margin-left: 7%;
}

#Projects li::before {
    content: "✔";
    color: green;
    position: absolute;
    left: 0;
}

#Skills-header{
    margin-left: 7%;
}

#Skills{
    justify-content: center;
    background: linear-gradient(45deg,  #11a7d1, #00e668);
    color: white;
    font-size: 20px;

 
    
}


#Skills :hover {
    background-color: #34a9bd;
    color: white;
    transform: translateY(-3px); /* Subtle hover effect */
    
}

#Contact-header{
    margin-left: 7%;
}

@media (max-width: 768px) {
    #About {
        flex-direction: column;
        text-align: center;
    }

    #About img {
        max-width: 100%;
        margin-right: auto;
    }

    #About-Header{
        text-align: center;
    }

    #Projects-header{
        text-align: center;
    }

    #Contact-header{
        text-align: center;
    }

    #Skills-header{
        text-align: center;
    }

    #Projects{
        text-align: center;
        margin-right: 40px;

    }

    #Contact{
        text-align: center;
    }

    #Skills{
        text-align: center;
    }

    #Projects li::before {
        content: "✔";
        color: green;
        position:relative;
        left: 0px;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f9f9f9;
    position: relative; /* Ensure it stays part of the flow */
}