h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    width: 100%;
    justify-content: space-between;
}

li{
    display:inline;
    margin-right: 10px;
    font-size: 16px;
}

#About{
    display: flex;
    justify-content: space-between; 
}

#Justin{
    width: 40%;
    height: 40%; /* Fixed height */
    margin-left: auto;
    
}