h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    width: 100%;
    justify-content: space-between;
}

li{
    display:inline;
    margin-right: 10px;
    font-size: 16px;
}

#About{
    display: flex;
    justify-content: space-between; 
}

#Justin{
    width: 40%;
    height: 40%; /* Fixed height */
    margin-left: auto;
    
}

#Projects{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#Projects li{
  display: block;
  list-style:inside;
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px;
}

#Projects-header{
    margin-left: 7%;
}

#Projects li::before {
    content: "✔";
    color: green;
    position: absolute;
    left: 0;
}

#Skills-header{
    margin-left: 7%;
}

#Skills{
    justify-content: center;
    background: linear-gradient(45deg, #0073e6, #11a7d1);
    color: white;
}